if SHIELD_GBPSE_LEFT

config ZMK_KEYBOARD_NAME
    default "GBPSE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_GBPSE_LEFT || SHIELD_GBPSE_RIGHT

config ZMK_SPLIT
    default y

endif


